@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:500&display=swap');

/* 1. All the page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
}

html {
min-height: 100%;
position: relative;
background-color: #ecf0f1;
}

li,
a,
span {
  font-weight: 500;
  font-size: 16.2px;
  text-decoration: none;
}

a:-webkit-any-link {
  color: #ecf0f1;
}

/* 2. Barra de navegación - NavBar*/

.menu-icon {
  text-align: right;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  display: none;
}

.Logo {
  display: inline-block;
  cursor: pointer;
}

.Logo a {
  transition: all 0.3s ease 0s;
  color: #ecf0f1;
  cursor: pointer;
}

.Logo a:hover {
  color: #59475f;
}

.MainNavBar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  transition: 0.7s;
}

.black {
  background-color: rgb(83, 45, 210, 1);/*rgba(22, 20, 41, 1);*/
  z-index: 1;
}

.RightNavBar {
  display: inline-block;
}

.RightNavBar ul {
  list-style: none;
}

.RightNavBar ul li {
  display: inline-block;
  padding: 0px 20px;
}

.RightNavBar ul li a {
  transition: all 0.3s ease 0s;
  color: #ecf0f1;
}

.RightNavBar ul li a:hover {
  color: #59475f;
}

.RightNavBarD {
  width: 100%;
  z-index: 1;
  position: fixed;
  padding-bottom: 20px;
  transition: 0.9s;
  text-align: center;
}

.RightNavBarD ul li {
  display: none;
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
}

/* Cuerpo de la página web */

.header {
  width: 100%;
  height: 100vh;
  background: url(../Images/galaxy-3608029_1920.jpg) no-repeat 50% 50%;
  display: block;
  background-position: center center;
}

.main-text-img {
  top: 50vh;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #ecf0f1;
  z-index: 0;
}

.main-text-img h1 {
  text-align: left;
  letter-spacing: 18px;
  font-weight: 500;
  text-shadow: 2px 1px rgba(22, 20, 41, 0.2);
}

.main-text-img h3 {
  text-align: left;
  font-weight: 500;
  text-shadow: 2px 1px rgba(22, 20, 41, 0.2);
}

.linkYT {
  transition: 0.3s ease 0s;
  color: #ecf0f1;
  cursor: pointer;
  font-size: 1em;
  transition: font-size 1.5s;
}

.linkYT:hover {
  color: #e1a894;
  font-size: 1.3em;
}

/* Home/LoQueHago */

.my_work {
  display: block;
  color: #fff;
  box-sizing: border-box;
  padding: 60px 60px;
  background-color: rgb(83, 45, 210, 1);/*#161429;*/
  margin-bottom: 120px;
}

.my_work p {
  color: #fff;
  text-align: justify;
  font-weight: 500;
}

.my_work div {
  left: 50%;
  text-align: center;
  border-radius: 8px;
  padding: 25px 25px;
  /*background-color: #fff;*/
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
}

.my_work h3 {
  padding-bottom: 25px;
  font-size: 30px;
  color: #fff;
  text-align: justify;
  font-weight: 400;
}

/* Home/Lista de aprendizaje*/

.my_learn {
  height: auto;
}
 /*Patreon*/

.P1 {
  display: block;
  margin: auto;
  font-size: 40px;
  height: 60vh;
padding: 20px 20px;
}

.P1 p{
  text-align: center;
  position: relative;
  top: 150px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.PatreonHead{
  height: 27vh;
}

/*Proyectos*/
.MMedium{
  padding: 10px 10px;
  margin-bottom: 100px;
}
.medium {
  padding: 15px 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: white;
}
.OXC {
  display: block;
  margin: auto;
  height: 25vh;
  border-radius: 20%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.leftM{
  display: block;
  height:  auto;
  margin: auto;
  text-align: center;  
  padding-top: 5px;
  font-size: 40px; 
  color: #161429 !important;
}

.ProyectHead {
  height: 27vh;
}


/*Blogs*/

.bloghead {
  height: 27vh;
}

.blogtitle {
  top: 125px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #ecf0f1;
  z-index: 0;
}

.titleB {
  text-align: left;
  font-weight: 500;
  text-shadow: 2px 1px rgba(22, 20, 41, 0.2);
}


.ContainerBlog {
  position: relative;
  height:auto;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: #ecf0f1;
  margin-bottom: 120px;
}

.Encabezado {
  padding: 40px 40px;
  margin-bottom: 20px;
  border-left: 4px solid #161429;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: white;
}
.Encabezado h1 a {
  font-size: 25px;
}
.Encabezado a{
  color: black;
}

/*Articulos*/
.Article {
  height: 12vh;
}

.blogart {
  height: auto;
}

.articleb {
  height: auto;
  margin-bottom: 120px;
}

.blogart h5 {
  text-align: justify;
  font-size: 16px;
  padding-top: 20px;
  line-height: 23px;
}

.blogart h6 {
  display: inline-block;
  }

.Foto1 {
  width: 100%;
  max-width: 700px;
  text-align: center;
  padding-top: 20px;
  display: block;
  margin: auto;
}

#PrimPal {
  text-align: justify;
}

/*Contacto*/
.main-text-contacto {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: #ecf0f1;
  z-index: 0;
}
.main-text-contacto h1 {
  text-align: left;
  letter-spacing: 3px;
  font-weight: 500;
  text-shadow: 2px 1px rgba(22, 20, 41, 0.2);
}

.main-text-contacto h3 {
  text-align: left;
  font-weight: 500;
  text-shadow: 2px 1px rgba(22, 20, 41, 0.2);
}

/* Pie de página - Footer*/

.footer {
  padding: 20px 20px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  background-color: rgba(22, 20, 41, 1);
  position:absolute;
  bottom:0;
  width: 100%;

}

.footer p {
  padding-top: 15px;
  font-size: 15px;
  color: #ecf0f1;
}

.row ul {
  padding-bottom: 15px;
}

.row ul li {
  display: inline-block;
  padding: 5px 10px;
}
/*0. Responsive web*/

@media (max-width: 632px) {
  /* .logo {position: fixed;top: 0;margin-top: 16px;}
     nav ul {max-height: 0px;background: #000;}
     nav.black ul {background: #000;}
     .showing {max-height: 20em;}
     nav ul li {box-sizing: border-box;width: 100%;padding: 24px 0;text-align: center;}
     .menu-icon {display: block;}*/
  .menu-icon {
    display: block;
    justify-content: space-between;
    text-align: right;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .RightNavBar {
    display: none;
  }
  .MainNavBar {
    padding: 25px;
    z-index: 2;
    background-color: rgb(83, 45, 210, 1);/*rgba(22, 20, 41, 1);*/
  }

  .Desplegable {
    display: block;
    overflow: hidden;
    transform: translate(0vh, 79px);
    background-color: rgba(22, 20, 41, 1);
    width: 100%;
    z-index: 1;
    position: fixed;
    transition: 0.9s;
  }
  .Desplegable {
    max-height: 0px;
  }
  .MenuDesp {
    max-height: 20em;
  }
  .RightNavBarD ul li {
    display: list-item;
    text-align: center;
    padding: 15px 0px;
    font-size: 20px;
  }
}
